/*
  Code taken from
  https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css
*/

@layer reset {
  .contentBlock {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans,
      sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word;
  }

  .contentBlock a {
    background: transparent;
  }

  .contentBlock a:active,
  .contentBlock a:hover {
    outline: 0;
  }

  .contentBlock strong {
    font-weight: bold;
  }

  .contentBlock h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  .contentBlock img {
    border: 0;
  }

  .contentBlock hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  .contentBlock pre {
    overflow: auto;
  }

  .contentBlock code,
  .contentBlock kbd,
  .contentBlock pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  .contentBlock input {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  .contentBlock html input[disabled] {
    cursor: default;
  }

  .contentBlock input {
    line-height: normal;
  }

  .contentBlock input[type="checkbox"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

  .contentBlock table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .contentBlock td,
  .contentBlock th {
    padding: 0;
  }

  .contentBlock * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .contentBlock input {
    font:
      0.8rem/1.4 Helvetica,
      arial,
      freesans,
      clean,
      sans-serif,
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  .contentBlock a {
    color: var(--info-600);
    text-decoration: none;
  }

  .contentBlock a:hover,
  .contentBlock a:focus,
  .contentBlock a:active {
    text-decoration: underline;
  }

  .contentBlock hr {
    height: 0;
    margin: 0.93rem 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--primary-100);
  }

  .contentBlock hr:before {
    display: table;
    content: "";
  }

  .contentBlock hr:after {
    display: table;
    clear: both;
    content: "";
  }

  .contentBlock h1,
  .contentBlock h2,
  .contentBlock h3,
  .contentBlock h4,
  .contentBlock h5,
  .contentBlock h6 {
    margin-top: 0.93rem;
    margin-bottom: 0.93rem;
    line-height: 1.1;
  }

  .contentBlock blockquote {
    margin: 0;
  }

  .contentBlock ul,
  .contentBlock ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contentBlock ol ol,
  .contentBlock ul ol {
    list-style-type: lower-roman;
  }

  .contentBlock ul ul ol,
  .contentBlock ul ol ol,
  .contentBlock ol ul ol,
  .contentBlock ol ol ol {
    list-style-type: lower-alpha;
  }

  .contentBlock dd {
    margin-left: 0;
  }

  .contentBlock code {
    font:
      0.75rem Consolas,
      "Liberation Mono",
      Menlo,
      Courier,
      monospace;
  }

  .contentBlock pre {
    margin-top: 0;
    margin-bottom: 0;
    font:
      0.75rem Consolas,
      "Liberation Mono",
      Menlo,
      Courier,
      monospace;
  }

  .contentBlock kbd {
    background-color: var(--primary-200);
    background-image: -webkit-linear-gradient(var(--white), var(--primary-200));
    background-image: linear-gradient(var(--white), var(--primary-200));
    background-repeat: repeat-x;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--primary-200);
    color: var(--black);
    padding: 0.2rem 0.3rem;
    line-height: 0.62rem;
    font:
      0.7rem Consolas,
      "Liberation Mono",
      Menlo,
      Courier,
      monospace;
    display: inline-block;
  }

  .contentBlock > *:first-child {
    margin-top: 0 !important;
  }

  .contentBlock > *:last-child {
    margin-bottom: 0 !important;
  }

  .contentBlock h1,
  .contentBlock h2,
  .contentBlock h3,
  .contentBlock h4,
  .contentBlock h5,
  .contentBlock h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    color: var(--secondary-500);
  }

  .contentBlock h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    color: var(--primary-600);
    border-bottom: 0.1rem solid var(--primary-100);
  }

  .contentBlock h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 0.1rem solid var(--primary-100);
  }

  .contentBlock h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }

  .contentBlock h4 {
    font-size: 1.25em;
  }

  .contentBlock h5 {
    font-size: 1em;
  }

  .contentBlock h6 {
    font-size: 1em;
    color: var(--primary-400);
  }

  .contentBlock p,
  .contentBlock blockquote,
  .contentBlock ul,
  .contentBlock ol,
  .contentBlock dl,
  .contentBlock table,
  .contentBlock pre {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .contentBlock hr {
    height: 0.25rem;
    padding: 0;
    margin: 1rem 0;
    background-color: var(--primary-100);
    border: 0 none;
  }

  .contentBlock ul,
  .contentBlock ol {
    padding-left: 2em;
  }

  .contentBlock ul ul,
  .contentBlock ul ol,
  .contentBlock ol ol,
  .contentBlock ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contentBlock li > p {
    margin-top: 1rem;
  }

  .contentBlock dl {
    padding: 0;
  }

  .contentBlock dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
  }

  .contentBlock dl dd {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .contentBlock blockquote {
    padding: 0 0.94rem;
    color: var(--primary-400);
    border-left: 0.3rem solid var(--primary-100);
  }

  .contentBlock blockquote > :first-child {
    margin-top: 0;
  }

  .contentBlock blockquote > :last-child {
    margin-bottom: 0;
  }

  .contentBlock table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
  }

  .contentBlock table th {
    font-weight: bold;
    background-color: var(--primary-100);
  }

  .contentBlock table th,
  .contentBlock table td {
    padding: 0.38rem 0.8rem;
    border: 0.1rem solid var(--primary-200);
  }

  .contentBlock table tr {
    background-color: var(--white);
    border-top: 0.1rem solid var(--primary-100);
  }

  .contentBlock table tr:nth-child(2n) {
    background-color: var(--primary-50);
  }

  .contentBlock img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .contentBlock code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: var(--primary-50);
    border-radius: 0.2rem;
  }

  .contentBlock code:before,
  .contentBlock code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }

  .contentBlock pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  .contentBlock pre {
    padding: 1rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--primary-50);
    border-radius: 0.2rem;
  }

  .contentBlock pre {
    word-wrap: normal;
  }

  .contentBlock pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  .contentBlock pre code:before,
  .contentBlock pre code:after {
    content: normal;
  }
}
